<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickerAndTableExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C81E20B1D9D537600D134A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C81E2221D9D537700D134A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C81E22D1D9D537700D134A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
